*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;

}
body{
    background: rgb(1, 1, 46);
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 30000000px;
}
#header{
    margin-top: 20px;
   

}
.logo{
margin-right: 200px;
}
.nav-bar{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.menus{
    display: flex;

}
.menus ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menus ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 18px;
    color: white;
    font-size: 18px;
    font-weight: 200;
}
.menus ul li a{
    list-style: none;
    color: white;
    position: relative;


}
.menus ul li a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: lightblue;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
    
    
}
.menus ul li a:hover::after{
    width: 100%;
}

/* -----Learn About Me Section------ */
#about-me{

}
#about-me h2{
    color: aqua;
    font-size: 50px;
    font-weight: 300;
}
.about-dammy{

}
.about-dammy div img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    

}
.about-dammy div 